@page "/feats/{Id:int}"
@inherits DataComponent

@if (IsLoaded)
{
    <PageTitle>The @model!.NameString Feat</PageTitle>

    <h1>The @model!.NameString Class</h1>
    <div class="container">
        @if (model.MinAttackBonus != null)
    {
        <div class="row">
                <div class="col">
                    Minimum attack bonus:
                </div>
                <div class="col">
                    @model.MinAttackBonus
                </div>
            </div>
    }
        @if (model.MinStr != null)
    {
        <div class="row">
                <div class="col">
                    Minimum strength:
                </div>
                <div class="col">
                    @model.MinStr
                </div>
            </div>
    }
        @if (model.MinDex != null)
    {
        <div class="row">
                <div class="col">
                    Minimum dexterity:
                </div>
                <div class="col">
                    @model.MinDex
                </div>
            </div>
    }
        @if (model.MinInt != null)
    {
        <div class="row">
                <div class="col">
                    Minimum intelligence:
                </div>
                <div class="col">
                    @model.MinInt
                </div>
            </div>
    }
        @if (model.MinWis != null)
    {
        <div class="row">
                <div class="col">
                    Minimum wisdom:
                </div>
                <div class="col">
                    @model.MinWis
                </div>
            </div>
    }
        @if (model.MinCon != null)
    {
        <div class="row">
                <div class="col">
                    Minimum constitution:
                </div>
                <div class="col">
                    @model.MinCon
                </div>
            </div>
    }
        @if (model.MinCha != null)
    {
        <div class="row">
                <div class="col">
                    Minimum charisma:
                </div>
                <div class="col">
                    @model.MinCha
                </div>
            </div>
    }
        @if (model.MinSpellLvl != null)
    {
        <div class="row">
                <div class="col">
                    Minimum spell level:
                </div>
                <div class="col">
                    @model.MinSpellLvl
                </div>
            </div>
    }
    </div>

    <textarea class="font-monospace" style="white-space: pre-wrap; width: 100%; height: 10em" readonly>@Tlk![(uint)model!.Description!]</textarea>
}

@code {
[Parameter]
public int Id { get; set; }

private FeatModel? model = null;

protected override bool IsLoaded { get { return base.IsLoaded && model?.HasData == true; } }

protected override async Task OnInitializedAsync()
{
    CancellationTokenSource cts = new CancellationTokenSource();
    var tlkTask = FileLoader.LoadTlkAsync(cts.Token);
        var featTask = FileLoader.Load2daRowAsync<FeatModel>(Constants.FeatsFileName, (uint)Id, cts.Token);
    await Task.WhenAll(tlkTask, featTask);
    Tlk = await tlkTask;
    model = await featTask;
}
}
