@using NWSourceViewer.Models.Classes.Prerequisites;

<h2>Prerequisites</h2>

@if (Prerequisites != null)
{
    <div class="container">
        @if (Prerequisites.ArcaneSpellcastingLevel > 0)
        {
            <div class="row">
                <div class="col">
                    At least one arcane spellcasting class of this level:
                </div>
                <div class="col">
                    @Prerequisites.ArcaneSpellcastingLevel
                </div>
            </div>
        }
        @if (Prerequisites.Bab > 0)
        {
            <div class="row">
                <div class="col">
                    Base attack bonus:
                </div>
                <div class="col">
                    @Prerequisites.Bab
                </div>
            </div>
        }
        @if (Prerequisites.Feats.Count > 0)
        {
            <div class="row">
                <div class="col">
                    Required feats:
                </div>
                <div class="col">
                    <CommaLinkList LinkList="@Prerequisites.Feats.Select(f => new KeyValuePair<string, string>(f.NameString, $"/feats/{f.Index}")).ToList()" />
                </div>
            </div>
        }
        @if (Prerequisites.OrFeats.Count > 0)
        {
            <div class="row">
                <div class="col">
                    Required to have at least one of these feats:
                </div>
                <div class="col">
                    <CommaLinkList LinkList="@Prerequisites.OrFeats.Select(f => new KeyValuePair<string, string>(f.NameString, $"/feats/{f.Index}")).ToList()" />
                </div>
            </div>
        }
        @if (Prerequisites.OrClasses.Count > 0)
        {
            <div class="row">
                <div class="col">
                    Required to have at least one of these classes:
                </div>
                <div class="col">
                    <CommaLinkList LinkList="@Prerequisites.OrClasses.Select(f => new KeyValuePair<string, string>(f.NameString, $"/classes/{f.Index}")).ToList()" />
                </div>
            </div>
        }
        @if (Prerequisites.Races.Count > 0)
        {
            <div class="row">
                <div class="col">
                    Required to be one of these races:
                </div>
                <div class="col">
                    <CommaLinkList LinkList="@Prerequisites.Races.Select(r => new KeyValuePair<string, string>(r.NameString, $"/races/{r.Index}")).ToList()" />
                </div>
            </div>
        }
        @if (Prerequisites.Skills.Count > 0)
        {
            <div class="row">
                <div class="col">
                    Required to have so many ranks in these skills:
                </div>
                <div class="col">
                    <CommaLinkList LinkList="@Prerequisites.Skills.Select(r => new KeyValuePair<string, string>($"{r.Skill.NameString} {r.Ranks}", $"/skills/{r.Skill.Index}")).ToList()" />
                </div>
            </div>
        }
        @if (Prerequisites.MinSpellcastingLevel > 0)
        {
            <div class="row">
                <div class="col">
                    Required to have at least this many levels in a spellcasting class:
                </div>
                <div class="col">
                    @Prerequisites.MinSpellcastingLevel
                </div>
            </div>
        }
    </div>
}
else
{
    <text>None</text>
}

@code {
    [Parameter]
    public FullClassPrerequisiteModel? Prerequisites { get; set; } = null;
}